

/*Body: Cuerpo de nuestro html*/
body{
    background-color: rgb(255, 255, 255);
}

/*Texto de nuestro encabezado*/
.miTextoHeader{
    margin-left: 5%;
    margin-top: 40px;
    font-size: larger;
}

/*Estilo de nuestro boton (sobreescritura de clases de bootstrap)*/
.btn-back{
    background-color: rgb(36, 34, 34) !important;
    border: black !important;
}

/*Sobreescribiendo el hover de nuestro boton de bootstrap*/
.btn-back:hover{
    background-color: rgb(95, 95, 95) !important;
}


/*Media Queries: funcional responsive en todas resoluciones*/
@media only screen and (max-width: 600px) {
    .responsiveClass{
        margin-left: 0.5% !important;
    }
}

@media only screen and (min-width: 600px) {
    .responsiveClass{
        margin-left: -0.1% !important;
    }
}

@media only screen and (min-width: 768px) {
    .responsiveClass{
        margin-left: -5% !important;
    }
}

@media only screen and (min-width: 992px) {
    .responsiveClass{
        margin-left: -8% !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .responsiveClass{
        margin-left: -8% !important;
    }
}